// app global css in SCSS form
@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-Regular.eot');
  src: url('/public/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/Montserrat-Regular.woff2') format('woff2'),
  url('/public/fonts/Montserrat-Regular.woff') format('woff'),
  url('/public/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.font-montserrat {
  font-family: 'Montserrat';
}
@font-face {
  font-family: 'Montserrat-bold';
  src: url('/public/fonts/Montserrat-ExtraBold.eot');
  src: url('/public/fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
  url('/public/fonts/Montserrat-ExtraBold.woff') format('woff'),
  url('/public/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.font-montserrat-bold {
  font-family: 'Montserrat-bold';
}

@font-face {
  font-family: 'Montserrat-semibold';
  src: url('/public/fonts/Montserrat-SemiBold.eot');
  src: url('/public/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('/public/fonts/Montserrat-SemiBold.woff') format('woff'),
  url('/public/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.font-montserrat-semibold {
  font-family: 'Montserrat-semibold';
}




//===========================Font Sizes Starts===========================//

@mixin apply-fonts($prefix,$property, $map) {
  @each $size, $val in $map {
    .#{$prefix}-#{$size} {
      #{$property}: map-get($val,font);
    }
  }
}

$fonts_in_pixels: (
        "9" : (font:9px),
        "10" : (font:10px),
        "11" : (font:11px),
        "12" : (font:12px),
        "13" : (font:13px),
        "14" : (font:14px),
        "15" : (font:15px),
        "16" : (font:16px),
        "17" : (font:17px),
        "18" : (font:18px),
        "19" : (font:19px),
        "20" : (font:20px),
        "22" : (font:22px),
        "23" : (font:23px),
        "24" : (font:24px),
        "25" : (font:25px),
        "26" : (font:26px),
        "28" : (font:28px),
        "30" : (font:30px),
        "32" : (font:32px),
        "33" : (font:33px),
        "35" : (font:35px),
        "36" : (font:36px),
        "40" : (font:40px),
        "42" : (font:42px),
        "45" : (font:45px),
        "48" : (font:48px),
        "50" : (font:50px),
        "55" : (font:55px),
        "56" : (font:56px),
        "60" : (font:60px),
        "62" : (font:62px),
        "65" : (font:65px),
        "74" : (font:74px),
        "80" : (font:80px),
        "85" : (font:85px),
        "94" : (font:94px),
        "98" : (font:98px),
        "101" : (font:101px),
        "105" : (font:105px),
        "1rem" : (font:1rem),
        "1p5rem" :(font:1.5rem),
        "2rem" : (font:2rem),
        "3rem" : (font:3rem),
        "4rem" : (font:4rem),
        "5rem" : (font:5rem),
        "6rem" : (font:6rem),
        "7rem" : (font:7rem),
        "1p25rem+p3vm":(font:calc(1.275rem + .3vw)),
);
@include apply-fonts('font','font-size', $fonts_in_pixels);

// ============================= All Font Sizes end ================================/

// ============================= All Line Heights start ================================/

@mixin apply-lineHeight($prefix,$property, $map) {
  @each $size, $val in $map {
    .#{$prefix}-#{$size} {
      #{$property}: map-get($val,Lines);
    }
  }
}
$height:(
        "0-5":(Lines:0.5),
        "0-8":(Lines:0.8),
        "1-2":(Lines:1.2),
        "1-3":(Lines:1.3),
        "1-5":(Lines:1.5),
        "1-7":(Lines:1.7),
        "1-9":(Lines:1.9),
        "2-3":(Lines:2.3),
);
@include apply-lineHeight('line-height','line-height', $height);

// ============================= All Line Heights End ================================/


// ============================= All max Width Start ================================/

@mixin apply-maxWidth($prefix,$property, $map) {
  @each $size, $val in $map {
    .#{$prefix}-#{$size} {
      #{$property}: map-get($val,width);
    }
  }
}

$max-width:(
        "1320px":(width:1320px),
        "1140px":(width:1140px),
        "720px":(width:720px),
        "540px":(width:540px),
        "1240px":(width:1440px),
        "820px":(width:1020px),
        "640px":(width:840px),
);
@include apply-maxWidth('max-width','max-width', $max-width);

// ============================= All max Width End ================================/

// ============================= All Font Weight Starts ================================/

@mixin apply-fontWeight($prefix,$property, $map) {
  @each $size, $val in $map {
    .#{$prefix}-#{$size} {
      #{$property}: map-get($val,weight);
    }
  }
}
$font-weight:(
        "200":(weight:200),
        "300":(weight:300),
        "400":(weight:400),
        "500":(weight:500),
        "600":(weight:600),
        "700":(weight:700),
        "800":(weight:800),
        "900":(weight:900),
        "1000":(weight:1000),
        "1500":(weight:1500),
);
@include apply-fontWeight('weight','font-weight', $font-weight);

// ============================= All Font Weight Ends ================================/

// ============================= Position Starts ================================/

@mixin apply-position($prefix,$property, $map) {
  @each $size, $val in $map {
    .#{$prefix}-#{$size} {
      #{$property}: map-get($val,position);
    }
  }
}
$postions:(
        "relative":(position:relative),
        "absolute":(position:absolute),
);
@include apply-position('position','position', $postions);

// ============================= Position Ends ================================/

// ============================= All Heights start ================================/

@mixin apply-height($prefix,$property, $map) {
  @each $size, $val in $map {
    .#{$prefix}-#{$size} {
      #{$property}: map-get($val,height);
    }
  }
}
$heights:(
        "120px":(height:120px),
        "125px":(height:125px),
        "140px":(height:140px),
        "150px":(height:150px),
        "180px":(height:180px),
        "200px":(height:200px),
        "210px":(height:210px),
        "270px":(height:270px),
        "280px":(height:280px),
        "300px":(height:300px),
        "450px":(height: 620px),
        "900px":(height:900px),
        "600px":(height:600px),
        "925px":(height:925px),
        "1000px":(height:1000px),
        "35vh":(height:35vh),
        "100vh":(height:100vh),
        "100":(height:100%),
        "calc-50-10":(height:calc(50% + 10px)),
        "calc-100vh-30vh":(height:calc(100vh - 30vh)),
);
@include apply-height('height','height', $heights);

// ============================= All Heights end ================================/

// ============================= All widths start ================================/

@mixin apply-width($prefix,$property, $map) {
  @each $size, $val in $map {
    .#{$prefix}-#{$size} {
      #{$property}: map-get($val,width);
    }
  }
}
$widths:(
        "90px":(width:90px),
        "150px":(width:150px),
        "200px":(width:200px),
        "210px":(width:210px),
        "calc-50-10":(width:calc(50% + 10px)),
        "100":(width:100%)
);
@include apply-width('width','width', $widths);

// ============================= All widths end ================================/

// ============================= All Minimum Heights start ================================/

@mixin apply-minHeight($prefix,$property, $map) {
  @each $size, $val in $map {
    .#{$prefix}-#{$size} {
      #{$property}: map-get($val,height);
    }
  }
}
$minHeights:(
        "470px":(height:470px),
        "420px":(height:420px),
        "200px":(height:200px),
        "400px":(height:400px),
        "60px":(height:60px),
        "30px":(height:30px),
        "350px":(height:350px),
);
@include apply-minHeight('min-height','min-height', $minHeights);

// ============================= All Minimum Heights End ================================/

// ============================= All Maximmum Heights start ================================/

@mixin apply-maxHeight($prefix,$property, $map) {
  @each $size, $val in $map {
    .#{$prefix}-#{$size} {
      #{$property}: map-get($val,height);
    }
  }
}
$maxHeights:(
        "100":(height:100%),
);
@include apply-maxHeight('max-height','max-height', $maxHeights);

// ============================= All Maximmum Heights end ================================/

// ============================= All Top position start ================================/

@mixin apply-top($prefix,$property, $map) {
  @each $size, $val in $map {
    .#{$prefix}-#{$size} {
      #{$property}: map-get($val,position);
    }
  }
}
$Top:(
        "-10px":(position:-10px),
        "25":(position:25%),
);
@include apply-top('top','top', $Top);

// ============================= All Top position end ================================/

// ============================= All Left position start ================================/

@mixin apply-left($prefix,$property, $map) {
  @each $size, $val in $map {
    .#{$prefix}-#{$size} {
      #{$property}: map-get($val,position);
    }
  }
}
$Left:(
        "-10px":(position:-10px),
        "0":(position:0%),
        "4":(position:4%),
);
@include apply-left('left','left', $Left);

// ============================= All Left position end ================================/

// ============================= All Right position start ================================/

@mixin apply-right($prefix,$property, $map) {
  @each $size, $val in $map {
    .#{$prefix}-#{$size} {
      #{$property}: map-get($val,position);
    }
  }
}
$Right:(
        "-10px":(position:-10px),
);
@include apply-right('right','right', $Right);

// ============================= All Right position end ================================/

// ============================= All Bottom position start ================================/

@mixin apply-bottom($prefix,$property, $map) {
  @each $size, $val in $map {
    .#{$prefix}-#{$size} {
      #{$property}: map-get($val,position);
    }
  }
}
$Bottom:(
        "-10px":(position:-10px),
);
@include apply-bottom('right','right', $Bottom);

// ============================= All Bottom position end ================================/

.img-brightness{
  filter:brightness(0.3)
}
.video-brightness{
  filter:brightness(0.2)
}
.obj-cover{
  object-fit: cover;
}
.opacity-0-5{
  opacity: 0.5;
}
.ptb75{
  padding: 75px 0px 75px 0px;
}
.ptb100{
  padding: 100px 0px 100px 0px;
}
.p-12 {
  padding-top:12px;
  padding-bottom:12px;
}
.send-button {
  // border: 2px solid;
  border-image: linear-gradient(10deg,#00ECCE  15%,#006BE1 65%) 1 1%;
}
.send-button:hover {
  background-image: linear-gradient(45deg,#00ECCE 15%,#006BE1 65%)!important;
  border: 0!important;
}
.mt-navbar{
  margin-top: -91px;
}


.container {
  max-width: 1440px;
  margin:0px auto ;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}